.menu__title {
  @apply text-2xl text-gray-500 text-opacity-90 font-semibold mt-5 mr-7 mb-2 tracking-widest;
}

.menu__item {
  @apply block border-gray-50 py-1  my-1;

  &--horizontal {
    @apply border-b-6 px-4;
  }
  &--vertical {
    @apply border-r-6 pr-6;
  }
  &--padding {
    @apply border-r-0 px-0;
  }
}

.menu__text {
  @apply text-2xl font-bold text-gray-700 text-opacity-90 mr-5 align-middle;
}

.menu__icon {
  @apply h-8 w-8 inline-block bg-gray-300 border-4 border-gray-300 border-opacity-90  rounded-full text-white shadow-btn;
}

.sub-menu__text {
  @extend .menu__text;
  @apply text-xl m-2 font-medium text-opacity-80;
}

.sub-menu__icon {
  @extend .menu__icon;
  @apply h-6 w-6;
}

.sub-menu__item {
  @extend .menu__item;

  &.menu__item--vertical {
    @apply px-2 border-r-0;
  }
}

.row-sub-menu {
  @apply grid-cols-2 mr-11 pr-3 gap-3 border-gray-300 border-r-4;
}

.active {
  @apply border-yellow-200 border-opacity-90;

  .active__icon {
    @apply bg-yellow-200 border-yellow-200;
  }
}

.active__span {
  position: absolute;
  width: 12px;
  height: 12px;
  right: 28px;
  top: 132px;
  z-index: 1;
  border-radius: 100%;
  @apply bg-yellow-200 bg-opacity-90;
}

.animate__span {
  @extend .active__span;

  top: 0px;
  left: 0px;
  z-index: 0;
  @apply animate-ping bg-yellow-200;
}
